@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display&display=swap');

#RPG_title {
    color: #808080;
    font-family: cursive;
    font-size: 5.8rem;
    letter-spacing: +0.7rem;
    text-align: center;
    padding-bottom: 25px;
} 


#manual_link_RPG
{
    align-self: center;
    text-align: center;
    font-size: 50px;
}

#RPG_quote {
    font-family: 'VT323', 'monospace';
    color: #808080;
    border-color: rgba(255, 255, 255, 0.2);
    text-align: center;
    font-size: 25px;
}

#RPG_tldr
{
    text-align: center;
}

#RPG_body
{
    text-align: center;
    font-family: 'cascadia', 'monospace';
}

#RPG_youtube
{
    text-align: center;
}

.RPG_text {
    color: #808080;
    font-size: 1.8rem;
    letter-spacing: -.05rem;
} 

